@mixin btn {
    border: none;
    background-color: coral;
    padding: .6rem;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:hover {
        opacity: 0.60;
    }
    &--rounded {
        border-radius: 2rem;
    }
    &--medium {
        padding: .7rem 1.5rem;
    }
    &--large {
        padding: 1rem 2rem;
    }
}